<div class="container mt-4">
    <h3 class="text-primary">Latest News</h3>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <img src="assets/images/news1.jpg" class="card-img-top" alt="News Image" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title">Team Announcement</h5>
            <p class="card-text">
              The Indian cricket team announces its squad for the upcoming series against Australia.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <img src="assets/images/news2.jpg" class="card-img-top" alt="News Image" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title">Player Transfer</h5>
            <p class="card-text">
              Indian star player makes a surprising move to a new IPL franchise.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <img src="assets/images/news3.jpg" class="card-img-top" alt="News Image" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title">Injury Update</h5>
            <p class="card-text">
              Key player's injury status ahead of the crucial Test match revealed.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <img src="assets/images/news4.jpg" class="card-img-top" alt="News Image" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title">New Captain Announcement</h5>
            <p class="card-text">
              The Indian cricket team introduces a new captain for the T20I series.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <img src="assets/images/news5.jpg" class="card-img-top" alt="News Image" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title">Record-Breaking Partnership</h5>
            <p class="card-text">
              Indian openers set a new world record with their partnership in the ODI.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <img src="assets/images/news6.jpg" class="card-img-top" alt="News Image" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title">New Sponsorship Deal</h5>
            <p class="card-text">
              The Indian cricket team signs a lucrative sponsorship deal with a major brand.
            </p>
          </div>
        </div>
      </div>
      <!-- Add more news here -->
    </div>
  </div>